In [1]:
import pandas as pd

In [2]:
csv_path = '2019.csv'

In [7]:
df = pd.read_csv(csv_path)
df.head()

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,...,FumblesLost,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints
0,0,Christian McCaffrey,CAR,RB,23.0,16.0,16.0,0.0,2.0,0.0,...,0.0,0.0,0.0,2.0,1387.0,15.0,287.0,1005.0,4.0,469.20
1,1,Lamar Jackson,BAL,QB,22.0,15.0,15.0,265.0,401.0,3127.0,...,2.0,3127.0,36.0,401.0,1206.0,7.0,176.0,0.0,0.0,415.68
2,2,Derrick Henry,TEN,RB,25.0,15.0,15.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,1540.0,16.0,303.0,206.0,2.0,294.60
3,3,Aaron Jones,GNB,RB,25.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1084.0,16.0,236.0,474.0,3.0,314.80
4,4,Ezekiel Elliott,DAL,RB,24.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1357.0,12.0,301.0,420.0,2.0,311.70

In [9]:
df.shape

(620, 28)

In [11]:
print('We have', df.shape[0], 'players we can analyze for the 2019 season')
print('We have', df.shape[1], 'columns of data we can analyze for the 2019 season')

We have 620 players we can analyze for the 2019 season
We have 28 columns of data we can analyze for the 2019 season

In [12]:
df.__class__

pandas.core.frame.DataFrame

this next one is a good way to see all of the columns in the data frame

In [13]:
df.columns

Index(['Unnamed: 0', 'Player', 'Tm', 'Pos', 'Age', 'G', 'GS', 'Cmp', 'Att',
       'Yds', 'Int', 'Att.1', 'Yds.1', 'Tgt', 'Rec', 'Yds.2', 'Y/R', 'Fumbles',
       'FumblesLost', 'PassingYds', 'PassingTD', 'PassingAtt', 'RushingYds',
       'RushingTD', 'RushingAtt', 'ReceivingYds', 'ReceivingTD',
       'FantasyPoints'],
      dtype='object')

Ok so in this part im goint to go over Methods since I dont know anything about methods this is going to be a longgggg lession.

Methods are functions that are "attached" to objects.

and python is a Object Oriented Programming lanuage, this means that everything is defined in terms of classes and objects.

and every object has attributes or methods

ATTRIBUTES: these are characteristics that tell us information about our object.

a good example of this is the .shape it lets us see the shape of our object or with .columns we could see our columns 

so attributes kind of tell us about our dataframe

Now were going to talk a little about methods

METHODS: are a set of processes we can run on a object. we use a dot notation and run it similar to a function. a good example of this is the .head() it lets us see the first 5 lines of our data frame rater than just give us outside information